#Header {
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%);
  text-align: center;
}
#Header,
.ant-layout-header {
  color: #000;
  background-color: #5fc090;
  height: 120px;
}
.ant-image-img {
  align-items: center;
}
.headerSearch {
  margin-top: 10px;
}
.ant-modal-title {
  text-align: center;
}
.cart-container {
  height: 100px;
}
.header-cart {
  height: 60px;
  margin-top: 25px;
}
.product-item:hover {
  background-color: 'lightgrey';
}
.sort:hover {
  background-color: grey;
  color: #fff;
  font-weight: bolder;
}

#btn_forgot {
  text-align: center;
}
#btn_login {
  height: 60px;
  width: 80%;
  /* background: #ffff; */
  color: #fff;
  margin-top: 20px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 130%;
}
#btn_login:hover {
  color: red;
  font-weight: bolder;
  font-size: 160%;
}
#headerSearch {
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
}
#btn_user {
  height: 50px;
  text-align: center;
  margin-top: 25px;
}
