@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.shop-only .pt-100 {
  padding-top: 100px;
}
.shop-only .pb-70 {
  padding-bottom: 70px;
}
.shop-only .section-header {
  margin-bottom: 60px;
  text-align: center;
}
.shop-only .section-header i {
  color: #5fc090;
  font-size: 50px;
  display: inline-block;
  margin-bottom: 10px;
}
.shop-only .section-header h2 {
  font-weight: bold;
  font-size: 34px;
  margin: 0;
}
.shop-only .section-header p {
  max-width: 500px;
  margin: 20px auto 0;
}
.shop-only .single-publication {
  border: 1px solid #f2eee2;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.shop-only .single-publication figure {
  position: relative;
  margin: 0;
  text-align: center;
}
.shop-only .single-publication figure > a {
  background-color: #fafafa;
  display: block;
}
.shop-only .single-publication figure ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: -50px;
  top: 20px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
}
.shop-only .single-publication:hover figure ul {
  right: 15px;
}
.shop-only .single-publication figure ul li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 15px;
  background: #5fc090;
  margin-bottom: 7px;
  border-radius: 50%;
  line-height: 35px;
  color: #fff;
}
.shop-only .single-publication figure ul li a:hover {
  color: #fff;
  background: #e50663;
}
.shop-only .single-publication .publication-content {
  text-align: center;
  padding: 20px;
}
.shop-only .single-publication .publication-content .category {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #5fc090;
  font-weight: 600;
}
.shop-only .single-publication .publication-content h3 {
  font-weight: 600;
  margin: 8px 0 10px;
  font-size: 20px;
}
.shop-only .single-publication .publication-content h3 a {
  color: #1f2d30;
  font-size: 22px;
}
.shop-only .single-publication .publication-content h3 a:hover {
  color: #5fc090;
}
.shop-only .single-publication .publication-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}
.shop-only .single-publication .publication-content ul li {
  display: inline-block;
  font-size: 18px;
  color: #fec42d;
}
.shop-only .single-publication .publication-content .price {
  font-size: 18px;
  color: #5fc090;
}
.shop-only .single-publication .publication-content .price span {
  color: #6f6f6f;
  text-decoration: line-through;
  padding-left: 5px;
  font-weight: 300;
}
.shop-only .single-publication .add-to-cart {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  height: 105px;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.shop-only .single-publication:hover .add-to-cart {
  visibility: visible;
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}
.shop-only .single-publication .add-to-cart .default-btn {
  margin-top: 28px;
  padding: 8px 25px;
  font-size: 14px;
}
.shop-only .single-publication .category {
  margin: 0;
}
.shop-only .single-publication .add-to-cart .default-btn {
  margin-top: 28px;
  padding: 8px 25px;
  font-size: 14px;
}
.shop-only .default-btn {
  background-color: #5fc090;
  color: #fff;
  border: 1px solid #5fc090;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
.shop-only figure img {
  width: 200px;
}
